<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.miroom.board.mapper.ReservationMapper">

    <select id="selectReservationList" parameterType="String" resultType="co.kr.miroom.board.vo.ReservationVO">
         select reserve_id, reserver_name,
         ifnull(CASE CHAR_LENGTH(reserver_phone)
         WHEN '11' Then concat(LEFT(reserver_phone,3),'-',SUBSTRING(reserver_phone,4,4),'-',RIGHT(reserver_phone,4))
		 WHEN '10' Then concat(LEFT(reserver_phone,3),'-',SUBSTRING(reserver_phone,4,3),'-',RIGHT(reserver_phone,4))
         END, '없음') as 'reserver_phone',
         room_name,
         date_format(check_in, '%Y / %m / %d') AS check_in_Date,
         date_format(check_in, '%H') AS check_in_Hour,
         date_format(check_in, '%i') AS check_in_Min,
         date_format(check_out, '%Y / %m / %d') AS check_out_Date,
         date_format(check_out, '%H') AS check_out_Hour,
         date_format(check_out, '%i') AS check_out_Min,
         check_in,
         check_out,
         room.room_id AS room_id,
         reserver.reserver_id AS reserver_id,
         person
         from reservation Left join reserver on reservation.reserver_id = reserver.reserver_id Left join room on reservation.room_id = room.room_id
         ORDER BY reserve_id DESC;
    </select>

    <select id="selectOneReservation" parameterType="java.util.HashMap" resultType="co.kr.miroom.board.vo.ReservationVO">
         <![CDATA[
         select reserve_id, reserver_name,
         reserver_phone,
         room_name,
         date_format(check_in, '%Y-%m-%d') AS check_in_Date,
         date_format(check_in, '%H') AS check_in_Hour,
         date_format(check_in, '%i') AS check_in_Min,
         date_format(check_out, '%H') AS check_out_Hour,
         date_format(check_out, '%i') AS check_out_Min,
         room.room_id AS room_id,
         reserver.reserver_id AS reserver_id,
         person
         from reservation Left join reserver on reservation.reserver_id = reserver.reserver_id Left join room on reservation.room_id = room.room_id
         WHERE reserve_id = #{reserve_id};
         ]]>
    </select>
    
    <select id="ReservationToday" parameterType="String" resultType="co.kr.miroom.board.vo.ReservationVO">
         select reserve_id, reserver_name,
         ifnull(CASE CHAR_LENGTH(reserver_phone)
         WHEN '11' Then concat(LEFT(reserver_phone,3),'-',SUBSTRING(reserver_phone,4,4),'-',RIGHT(reserver_phone,4))
		 WHEN '10' Then concat(LEFT(reserver_phone,3),'-',SUBSTRING(reserver_phone,4,3),'-',RIGHT(reserver_phone,4))
         END, '없음') as 'reserver_phone',
         room_name,
         date_format(check_in, '%Y / %m / %d') AS check_in_Date,
         date_format(check_in, '%H') AS check_in_Hour,
         date_format(check_in, '%i') AS check_in_Min,
         date_format(check_out, '%Y / %m / %d') AS check_out_Date,
         date_format(check_out, '%H') AS check_out_Hour,
         date_format(check_out, '%i') AS check_out_Min,
         check_in,
         check_out,
         room.room_id AS room_id,
         reserver.reserver_id AS reserver_id,
         person
         from reservation Left join reserver on reservation.reserver_id = reserver.reserver_id Left join room on reservation.room_id = room.room_id
         WHERE date_format(check_in, '%Y-%m-%d') = CURDATE();
    </select>
    <select id="CheckDuplication" resultType="Integer" parameterType="java.util.HashMap">
        <![CDATA[
        select count(*) cnt
        FROM reservation
        WHERE room_id = #{room_id}
        AND date_format(check_in, '%Y-%m-%d') = #{Today}
        AND date_format(check_in, '%H:%i') <= #{CheckOutTime}
        AND date_format(check_out, '%H:%i') >= #{CheckInTime};
        ]]>
    </select>

     <insert id="InsertReserver" parameterType="java.util.HashMap">
        <selectKey resultType="int" keyProperty="reserver_id" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into reserver (reserver_name, reserver_phone)
        values (#{reserver_name}, #{reserver_phone});
     </insert>

    <insert id="InsertReservation" parameterType="java.util.HashMap">
        insert into reservation (check_in, check_out, room_id, reserver_id, person)
        values (#{check_in}, #{check_out}, #{room_id}, #{reserver_id}, #{person});
    </insert>

    <delete id="DeleteReservation"  parameterType="java.util.HashMap">
        DELETE FROM reservation WHERE reserve_id = #{reserve_id};
    </delete>

    <update id="UpdateReservation" parameterType="java.util.HashMap">
        <![CDATA[
            UPDATE reserver SET
            reserver_name = #{reserver_name}, reserver_phone = #{reserver_phone}
            WHERE reserver_id = #{reserver_id};

            UPDATE reservation SET
            check_in = #{check_in}, check_out = #{check_out}, room_id = #{room_id}, reserver_id = #{reserver_id}
            WHERE reserve_id = #{reserve_id};
        ]]>
    </update>

</mapper>

